<app-top-nav></app-top-nav> 

<div id="site-body">
  <div class="columns">
  
    <div class="info">
      <div class="container">
        <div class="feed-title">
          <h3>Followers</h3>
        </div>
        <div *ngIf="checkFollow">
          <ul *ngFor="let follower of users">
            <li>
              <app-single-user-description [follower]="follower"></app-single-user-description>
            </li>
          </ul>
        </div>
        <div *ngIf="!checkFollow">
          <ul>
            <li>
              <p class="no-cards">This user has no followers!</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>