@import './../../../scss/variables.scss';

.profile {

  &__info {
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    &__follow-btn{
      padding-top: 5px;
    }

    img {
      width: 100px;
      border-radius: 50%;
    }

  }
}

.profile__description {
  padding: 15px;
  text-align: left;
  
  &__title {
    font-weight: bold;
  }

}

 