<nav class="site-nav" *ngIf="editButton == true">
  <div class="nav icons">
    <a [routerLink]="['/profile']">
      <img src="../../../../assets/icons/settings.svg" alt="settings-icon">
    </a>
    <span class="profile-span">Profile</span>
    <a [routerLink]="['/profile/addfollowers']">
      <img src="../../../../assets/icons/follow.svg" alt="follow-icon">
    </a>
  </div>
</nav>

<nav class="site-nav" *ngIf="editButton == false">
  <div class="nav icons">
    <span class="profile-span">Profile</span>
  </div>
</nav>

<div class="container__content profile" *ngIf="user">
  <div class="profile__info">
    <div>
      <img *ngIf="!user.profile_image_url == true" src="../../../../assets/images/male-icon.png" alt="male-icon">
      <img *ngIf="user.profile_image_url" src="{{user.profile_image_url}}" alt="image-icon">
    </div>
    <p class="profile__username" *ngIf="user.name">{{user.name}}</p>
    <p class="profile__username" *ngIf="user">@{{user.username}}</p>
    <div class="profile__info__follow-btn" *ngIf="editButton == false">
      <button class="btn-terciary" *ngIf="iFollow == false" (click)="followUser()">Follow</button>
      <button class="btn-terciary" *ngIf="iFollow == true" (click)="unfollowUser()">Not follow</button>
    </div>
    <div class="profile__info__follow-btn" *ngIf="editButton == true">
      <button class="btn-terciary" (click)="editProfile()">Edit</button>
    </div>
  </div>

  <!-- <div>
    <p>Biography</p>
    <p class="profile__username" *ngIf="user">{{user.description}}</p>
  </div> -->

  <div class="feed-actions">
    <button class="btn-profile" (click)="listAllStories()"><strong>Stories</strong></button>
    <button class="btn-profile" (click)="findUserArticles()"><strong>News</strong></button>
    <a [routerLink]="['/users', user._id, 'followers']" class="btn-profile">
      Followers
    </a>
    <a [routerLink]="['/users', user._id, 'following']" class="btn-profile">
      Following
    </a>
  </div>

  <ul *ngFor="let story of stories">
    <li>
      <app-story-card [story]="story"></app-story-card>
    </li>
  </ul>

  <ul *ngFor="let article of articles">
    <li>
      <!-- <a [routerLink]="['/articles', article._id]"> -->
      <app-article-card [article]="article"></app-article-card>
      <!-- </a> -->
    </li>
  </ul>
</div>

<app-bottom-nav></app-bottom-nav>