<nav class="site-nav">
  <div class="nav icons">
    <!-- <button (click)="logout()" class="btn-terciary">Logout</button> -->
    <span class="profile-span">Profile</span>
    <a [routerLink]="['/profile/addFollowers']">
      <i class="fas fa-user-plus"></i>
    </a>
  </div>
</nav>

<div class="container__content profile" *ngIf="user">
  <div class="profile__info">
    <div>
      <img src="../../../../assets/images/male-icon.png" alt="male-icon">
    </div>
    <p class="profile__username" *ngIf="user">@{{user.username}}</p>
    <div class="profile__info__follow-btn" *ngIf="editButton == false">
      <button class="btn-terciary" *ngIf="iFollow == false" (click)="followUser()">Follow</button>
      <button class="btn-terciary" *ngIf="iFollow == true" (click)="unfollowUser()">Not follow</button>
    </div>
    <div class="profile__info__follow-btn" *ngIf="editButton == true">
      <button class="btn-terciary" (click)="editProfile()">Edit</button>
    </div>
  </div>

  <div class="feed-actions">
    <button class="btn-profile" (click)="listAllStories()"><strong>Stories</strong></button>
    <a [routerLink]="['/users', user._id, 'followers']" class="btn-profile">
      Followers
    </a>
    <a [routerLink]="['/users', user._id, 'following']" class="btn-profile">
      Following
    </a>
  </div>

  <ul *ngFor="let story of stories">
    <li>
      <!-- <a [routerLink]="['/stories', story._id]"> -->
      <app-story-card [story]="story"></app-story-card>
      <!-- </a> -->
    </li>
  </ul>
</div>

<app-bottom-nav></app-bottom-nav>