@import './../../../scss/variables.scss';

// .profile {

//   &__info {
//     padding-top: 20px;
//     display: flex;
//     flex-direction: column;
//     text-align: center;
    
//     &__follow-btn{
//       padding-top: 5px;
//     }

//     img {
//       width: 100px;
//     }
//   }
// }

// .profile-nav {
//   flex-direction: column;
//   color: $color-icon;
// }


// .profile-span {
//   margin-right: 25px;
// }

.profile {

  &__info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    &__follow-btn{
      padding-top: 5px;
    }

    img {
      width: 100px;
    }
  }
}

.profile-nav {
  text-align: center;
  align-items: center;
}
 