@import './../../../scss/variables.scss';

.profile-span {
  margin-right: 25px;
}

.profile {

  &__info {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    &__follow-btn{
      padding-top: 5px;
    }

    img {
      width: 100px;
    }
  }  
}

@media (min-width: 568px) {
  .profile__info {
    padding: 20px 40px;
  }
}

.field-form {
  padding: 30px 0 10px 0;

  .field-edit {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    .field__label {
      text-align: right;
      line-height: 32px;
      width: 120px;
      margin-right: 20px;
      font-weight: 700;
    }
    .field__input, .field__textarea {
      width: 100%;
      padding: 5px;
      font-size: 16px;
      border: 1px solid $color-border;
    }

    .field__textarea {
      height: 56px;
      resize: none;
    }
  }
}
