@import './../../../scss/variables.scss';

.profile-span {
  margin-right: 25px;
}

.profile {

  &__info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    &__follow-btn{
      padding-top: 5px;
    }

    img {
      width: 100px;
    }
  }
}

.profile-nav {
  text-align: center;
  align-items: center;
}

// .file-input {
//   width: 0.1px;
// 	height: 0.1px;
// 	opacity: 0;
// 	overflow: hidden;
// 	position: absolute;
// 	z-index: -1;
// }