<div id="site-body">
  
  <div class="columns">
  
    <div class="info">
      <div class="container content">
        <div class="feed-title">
          <h3>All News</h3>
        </div>

        <ul *ngFor="let article of articles">
          <li>
            <!-- <a [routerLink]="['/articles', article._id]"> -->
              <app-article-card [article]="article"></app-article-card>
            <!-- </a> -->
          </li>
        </ul>
      </div>
    </div>

    <div class="add-people">
      <div class="container content2">
        <app-write-article></app-write-article>
      </div>
    </div>
  </div>

</div> 

<app-top-nav></app-top-nav>