<div class="card" *ngIf="notification">
  <div class="notification">
    <div class="notification__info">
      <!-- <div [routerLink]="['/users', notification.user._id]">
        <img *ngIf="!notification.user.profile_image_url" class="notification__image" src="../../../../assets/images/male-icon.png" alt="image-icon">
        <img *ngIf="notification.user.profile_image_url" class="notification__image" src="{{notification.user.profile_image_url}}" alt="image-icon">
      </div> -->
      <div class="notification__info__user">
        <div class="notification__info__user__text">
          <a *ngIf="notification.created_by.name" class="notification__info__user__name" [routerLink]="['/users', notification.user._id]">{{notification.created_by.name}}</a>
          <a *ngIf="!notification.created_by.name" class="notification__info__user__username" [routerLink]="['/users', notification.user._id]">@{{notification.created_by.username}}</a>
          <p class="notification__info__user__message">{{notification.message}}</p>
        </div>
        <p class="notification__info__user__time">{{notification.created_at | date : 'fullDate' }}</p>
      </div>
    </div> 
  </div>
</div>


<!-- {{notification.created_by | json}} -->