@import './../../../scss/variables.scss';

.card {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  margin: 0;
  // border-bottom: 1px solid $color-border-soft;

  .story {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__box {
      width: 50px;
      height: 50px;

      &__image {
        width: 50px; 
        height: 50px;
        border-radius: 50%;
      }
    }
 
    &__info {
      padding-left: 10px; 
      display: flex;
      flex-direction: column;
      width: 100%;
      
      &__user {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-decoration: none;

        &__name {
          color: $color-name;
          text-decoration: none;
          margin-right: 5px;
        }

        &__name:hover {
          text-decoration: underline;
        }

        &__username {
          margin-right: 10px;
          text-decoration: none;
          font-weight: lighter;
          color: $color-name;
        }
      }

      &__text {
        color: black;
        text-decoration: none;
        font-weight: 200;
      }
    }
  }
}

.card:hover {
  background-color: $color-card-hover;
}