@import './../../../scss/variables.scss';

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 20px;

  .story {

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__username {
        margin-right: 10px;
        text-decoration: none;
        font-weight: lighter;
        color: $color-btn-secondary;
      }

      &__time {
        color: grey;
        font-weight: lighter;
        font-size: 12px;
      }
    }

    &__tweet {
      color: black;
      text-decoration: none;
    }
  }
}