<div class="card" *ngIf="story">
  <div class="story">
    <div class="story__box" [routerLink]="['/users', story.user._id]">
      <img *ngIf="!story.user.profile_image_url" class="story__box__image" src="../../../../assets/images/male-icon.png"
              alt="image-icon">
      <img *ngIf="story.user.profile_image_url" class="story__box__image" src="{{story.user.profile_image_url}}" alt="image-icon">
    </div>
    <div class="story__info">
        <a class="story__info__user" [routerLink]="['/users', story.user._id]">
          <p class="story__info__user__name" *ngIf="story.user.name">{{story.user.name}}</p>
          <p class="story__info__user__username">@{{story.user.username}} · {{story.created_at | date : 'shortDate' }}</p>
        </a>
      <a class="story__info__text" [routerLink]="['/stories', story._id]">
        <p>{{story.text}}</p> 
      </a>
    </div>
  </div>
</div>


<!-- {{story.user | json}} --> 