<div class="card" *ngIf="story">
  <div class="story">
    <div class="story__info">
      <!-- <img style="width: 50px; height: 50px;" src="../../../../assets/images/male-icon.png" alt="male-icon"> -->
      <div class="profile__information__image"></div>
      <a class="story__info__username" [routerLink]="['/users', story.user._id]">
        <p>@{{story.user.username}}</p>
      </a>
      <p class="story__info__time">{{story.created_at | date : 'shortTime' }}</p>
    </div>
    <p class="tweet">{{story.text}}</p> 
  </div>
</div>


<!-- {{story.user | json}} --> 