<div class="card" *ngIf="story">
  <div class="story">
    <div [routerLink]="['/users', story.user._id]">
      <img *ngIf="!story.user.profile_image_url" class="story__image" src="../../../../assets/images/male-icon.png"
              alt="image-icon">
      <img *ngIf="story.user.profile_image_url" class="story__image" src="{{story.user.profile_image_url}}" alt="image-icon">
    </div>
    <div class="story__info">
      <div class="story__info__user">
        <a class="story__info__user__username" [routerLink]="['/users', story.user._id]">
          <p>{{story.user.name}} @{{story.user.username}}</p>
        </a>
        <p class="story__info__user__time">{{story.created_at | date : 'shortDate' }}</p>
      </div>
      <a class="story__info__text" [routerLink]="['/stories', story._id]">
        <p>{{story.text}}</p> 
      </a>
    </div>
  </div>
</div>


<!-- {{story.user | json}} --> 