<div id="site-body">
  <div class="columns">
  
    <div class="info">
      <div class="container">

        <div class="feed-title">
          <h3>Activity</h3>
        </div>
        <ul *ngFor="let notification of notifications">
          <li>
            <app-notification-card [notification]="notification"></app-notification-card>
          </li>
        </ul>
      </div>
    </div>
      
    <div class="add-people">
      <app-add-friends></app-add-friends>
    </div>
  </div>
</div>

<app-top-nav></app-top-nav> 