// -- colors

$color-title: blue;
$color-white: white;
$color-yellow: blue;
$color-black: black;
$color-icon: #1C1C1C;
$color-btn-primary: #1487fe;
$color-btn-secondary: grey;
$color-border: #BDBDBD;
$color-border-soft: #E6E6E6;