// -- colors

$color-white: white;
$color-black: black;

// -- nav

$color-icon: #1C1C1C;

// -- cards

$color-name: black;
$color-username: grey;
$color-card-hover: #FAFAFA;
$color-card-border-bottom: #F2F2F2;
$color-border: #E6E6E6;
$color-border-hard: #BDBDBD;
$color-border-soft: #E6E6E6;

// -- buttons

$color-btn-primary: #1487fe;
$color-btn-secondary: grey;
