<!-- <app-top-nav-profile></app-top-nav-profile> -->

<div class="container__content profile" *ngIf="user">
  <div class="profile__info">
    <div class="profile__info__image">
      <img src="../../../../assets/images/male-icon.png" alt="male-icon">
    </div>
    <p class="profile__username" *ngIf="user">@{{user.username}}</p>
    <div class="profile__follow-btn">
    <a [routerLink]="['/users', user._id]" class="btn-profile">
      Visit profile
    </a>
    </div>
  </div>

  <div class="feed-links">
    <a [routerLink]="['/profile/member']" class="btn-profile">
      Become a member
    </a>
    <button (click)="logout()" class="btn-terciary">Sign Out</button>
  </div>

</div> 

<app-bottom-nav></app-bottom-nav>