<!-- <div class="card" *ngIf="follower==[]">
  <div class="card-username">
    <p> You don't have followers!!! </p>
  </div>
</div> -->

<div class="card-follow" *ngIf="follower">
  <a class="card-username" [routerLink]="['/users', follower._id]">
    <p>@{{follower.username}}</p>
    <!-- <input type="hidden" id="myField" value="{{follower._id}}" /> -->
  </a>
  <button *ngIf="iFollow == false" class="btn-terciary" (click)="followUser()">Follow</button>
  <button *ngIf="iFollow == true" class="btn-terciary" (click)="unfollowUser()">Not follow</button>

</div>


<!-- {{follower | json}} -->