<div class="container__home">
  <div class="main-title">
    <!-- <i class="fas fa-map-marker"></i> -->
    <h1>Look at what's up in your city now?</h1>
  </div>
  <strong><p>Become a user today</p></strong>
  <div class="user-inputs">
    <a [routerLink]="['/signup']" class="btn btn-primary">Sign Up</a>
    <a [routerLink]="['/login']" class="btn btn-primary__alt">Login</a>
    <p>or</p>
    <button (click)="twitterLogin()" class="btn btn-primary__alt">Login with Twitter</button>
  </div>
</div>

<div class="instructions">
  <ul class="icons">
    <li><i class="fas fa-search"></i></li>
    <li><i class="fas fa-users"></i></li>
    <li><i class="far fa-comment"></i></li>
  </ul>
  <ul class="list">
    <li><p class="element">Follow what interest you</p></li>
    <li><p class="element">Find out what people are talking about</p></li>
    <li><p class="element">Join the conversation</p></li>
  </ul>
</div>

<!-- {{req.session.user | json}} -->
