<div class="container__home">
  <div class="main-title">
    <h1>Look at what's up in your city now?</h1>
  </div>
  <strong><p class="element-2">Become a user today</p></strong>
  <div class="user-inputs">
    <a [routerLink]="['/signup']" class="btn btn-primary">Sign Up</a>
    <a [routerLink]="['/login']" class="btn btn-primary__alt"><p>Login</p></a>
    <p class="element-2">or</p>
    <button (click)="twitterLogin()" class="btn btn-primary__alt"><p class="login-with-twitter">Login with Twitter</p></button>
  </div>
</div>

<div class="instructions">
  <ul class="icons">
    <li><i class="fas fa-search"></i></li>
    <li><i class="fas fa-users"></i></li>
    <li><i class="far fa-comment"></i></li>
  </ul>
  <ul class="list">
    <li><p class="element">Follow what interest you</p></li>
    <li><p class="element">Find out what people are talking about</p></li>
    <li><p class="element">Join the conversation</p></li>
  </ul>
</div>

<div class="company">
  <ul class="company__list">
    <li><p class="element">@2018 Ironhack</p></li>
    <li><p class="element">by Pere Serra Bosch</p></li>
  </ul>
</div>
