<!-- <div class="wrapper">
  <div class="container homepage">
    <div class="main-title">
      <h1>Look at what's up in your city now?</h1>
    </div>
    <strong><p class="element-2">Become a user today</p></strong>
    <div class="user-inputs">
      <a [routerLink]="['/signup']" class="btn btn-primary">Sign Up</a>
      <a [routerLink]="['/login']" class="btn btn-primary__alt"><p>Login</p></a>
      <p class="element-2">or</p>
      <button (click)="twitterLogin()" class="btn btn-primary__alt"><p>Login with Twitter</p></button>
    </div>
  </div>
  <div class="container instructions">
    <ul class="icons">
      <li><i class="fas fa-search"></i></li>
      <li><i class="fas fa-users"></i></li>
      <li><i class="far fa-comment"></i></li>
    </ul>
    <ul class="list">
      <li><p class="element">Follow what interest you</p></li>
      <li><p class="element">Find out what people are talking about</p></li>
      <li><p class="element">Join the conversation</p></li>
    </ul>
  </div>
</div> -->

<div id="site-homepage">
  <header class="homepage">
    <nav class="nav-homepage">
      <div class="wrapper">
      <div class="brand">
        <!-- <img class="brand__logo" src="./../../../assets/images/icon-agora-white.png" alt=""> -->
        <span class="brand__name">Agora</span>
      </div>
      <div class="account">
        <a [routerLink]="['/login']" class="btn2 btn-ter">Login</a>
        <a [routerLink]="['/signup']" class="btn2 btn-sec">Sign Up</a>
      </div>
      </div>
    </nav>
    <div class="title">
      <div class="marketing">
        <h1 class="marketing-text">Find your voice.</h1>
        <h2 class="marketing-text-2">Join Agora and discover what is happening<br>in your city right now.</h2>
      </div>
      <a [routerLink]="['/signup']" class="btn2 btn-prim">Join Agora Free</a>
    </div>
    <!-- <div class="cookies">
      <p>
        Hi! We use cookies on this website to help operate our site and for analytics purposes.<br>
        By continuing to use our services, you are giving us your consent to use cookies.
      </p>
    </div> -->
  </header>

  <!-- <body>
    <section>
      <h2>Join the conversation</h2>
      <h3>Find out what people is talking about</h3>
    </section>
    <section>
      <h2>How does it work?</h2>
      <div class="col-3">
        <img src="" alt="">
        <h3>Write</h3>
        <h4>Share your thinking about something that matters to you.</h4>
      </div>
      <div class="col-3">
        <img src="" alt="">
        <h3>Engage</h3>
        <h4>Share your thinking about something that matters to you.</h4>
      </div>
      <div class="col-3">
        <img src="" alt="">
        <h3>Explore</h3>
      </div>
    </section>
  </body> -->
</div>