<app-top-nav></app-top-nav>

<div id="site-body">
  <div class="columns">

    <div class="info">
      <div class="container">
        <div class="feed-actions">
          <h3>News</h3>
          <button class="btn-secondary" (click)="listAllNews()">Show more</button>
        </div>
        <ul *ngFor="let article of articles">
          <li>
            <app-article-card [article]="article"></app-article-card>
          </li>
        </ul>
      </div>

      <div class="container">
        <div class="feed-actions">
          <h3>Last Tweets</h3>
          <button class="btn-secondary" (click)="listAllUsers()">Who to follow</button>
        </div>
        <ul *ngFor="let story of stories">
          <li>
            <app-story-card [story]="story"></app-story-card>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>