<div class="profile" *ngIf="follower">
  <div class="profile__box" [routerLink]="['/users', follower._id]">
    <img *ngIf="!follower.profile_image_url" class="profile__box__image" src="../../../../assets/images/male-icon.png" alt="image-icon">
    <img *ngIf="follower.profile_image_url" class="profile__box__image" src="{{follower.profile_image_url}}" alt="image-icon">
  </div>
  <div class="profile__info">
    <div class="profile__info__user" [routerLink]="['/users', follower._id]">
      <p class="profile__info__user__name">{{follower.name}}</p>
      <p class="profile__info__user__username">@{{follower.username}}</p>
      <!-- <p class="profile__info__user__description">{{follower.description}}</p> -->
    </div>
    <div class="profile__info__action" *ngIf="editButton == false">
      <button *ngIf="checkFollow == false" class="btn-terciary" (click)="followUser()">Follow</button>
      <button *ngIf="checkFollow == true" class="btn-terciary" (click)="unfollowUser()">Not follow</button>
    </div>
  </div>
</div>
