<app-top-nav></app-top-nav>

<div id="site-body">
  <div class="container article">
    <div class="article__user">
      <div [routerLink]="['/users', article.user._id]">
        <img *ngIf="!article.user.profile_image_url" class="article__user__image" src="../../../../assets/images/male-icon.png" alt="image-icon">
        <img *ngIf="article.user.profile_image_url" class="article__user__image" src="{{article.user.profile_image_url}}" alt="image-icon">
      </div>
      <div class="article__user__info" [routerLink]="['/users', article.user._id]">
        <p class="article__user__info__name"><strong>{{article.user.name}}</strong></p>
        <p>@{{article.user.username}}</p>
        <p class="article__user__info__time">{{article.created_at | date : 'longDate' }}</p>
      </div>
    </div>
    <div class="article__content">
      <h2 class="article__content__title">{{article.title}}</h2>
      <p class="article__content__text">{{article.text}}</p>
    </div>
    <div class="article__actions">
      <button *ngIf="editButton" class="btn-secondary" (click)="deleteArticle()">Delete article</button>
    </div>
  </div>
</div> 