<div id="site-body">
  <div class="columns">

    <div class="info">
      <div class="container">
        <div class="feed-actions">
          <h3>Local News</h3>
          <button class="btn-secondary" (click)="readAllNews()">Show more</button>
        </div>
        <ul *ngFor="let article of articles">
          <li>
            <!-- <a [routerLink]="['/articles', article._id]"> -->
            <app-article-card [article]="article"></app-article-card>
            <!-- </a> -->
          </li>
        </ul>
      </div>

      <div class="container">
        <div class="feed-actions">
          <h3>Local Tweets</h3>
          <button class="btn-secondary" (click)="followingUserStories()">Following users</button>
        </div>
        <ul *ngFor="let story of stories">
          <li>
            <app-story-card [story]="story"></app-story-card>
          </li>
        </ul>
      </div>
    </div>

    <div class="add-people">
      <app-add-friends></app-add-friends>
    </div>

  </div>
</div>

<app-top-nav></app-top-nav>