<app-top-nav></app-top-nav> 

<div id="site-body">
  <div class="columns">

    <div class="info">
      <div class="container story">

        <div class="story__user">
          <a [routerLink]="['/users', story.user._id]">
            <img *ngIf="!story.user.profile_image_url" class="story__user__image" src="../../../../assets/images/male-icon.png" alt="image-icon">
            <img *ngIf="story.user.profile_image_url" class="story__user__image" src="{{story.user.profile_image_url}}" alt="image-icon">
          </a>
          <div class="story__user__info">
            <a class="story__user__info__name" [routerLink]="['/users', story.user._id]">{{story.user.name}}</a>
            <a class="story__user__info__username" [routerLink]="['/users', story.user._id]">@{{story.user.username}}</a>
            <p class="story__user__info__time">{{story.created_at | date : 'longDate' }}</p>
          </div>
        </div>
        <div class="story__content">
          <p class="story__content__text">{{story.text}}</p>
        </div>

        <div class="story__actions">
          <button *ngIf="editButton" class="btn-secondary" (click)="deleteStory()">Delete</button>
        </div>
      </div>
    </div>

  </div> 
</div>