
<div class="container__home auth">
  
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">    
    <div class="create-title">
      <h2>Create Story</h2>
      <div class="characters-title">
        <div id="charactersRemaining">120</div>
        <p>/120</p>
      </div>
    </div>
    
    <div class="field_inputs">
      <div class="field" [ngClass]="{'has-error': feedbackEnabled && storyField.errors}">
        <input type="text" id="tweet" placeholder="Write a story" name="story" [(ngModel)]="story.text" #storyField="ngModel" maxlength="120" [disabled]="processing"
        />
        <div *ngIf="feedbackEnabled && storyField.errors">
        <p *ngIf="storyField.errors.minlength" class="validation">story is too long</p>
        </div>
      </div>
    </div>

    <div class="field submit">
      <button type="submit" [disabled]="processing" class="btn btn-primary" >Create</button>
      <div *ngIf="error">
        <p class="validation">{{error}}</p>
      </div>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
    </div>
    
  </form>
</div>

<footer id="site-footer">
  <div class="footer">

    <a [routerLink]="['/stories']">
      <i class="far fa-list-alt"></i>
    </a>

    <i class="fas fa-plus-square"></i>

    <a [routerLink]="['/profile']">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"
        />
      </svg>
    </a>

  </div>
</footer>
