@import './../../../scss/variables.scss';

// -- create page

.tweets {
  padding: 10px 15px;

  .characters-title {
    display: flex;
    flex-direction: row;
  }
}

#tweet {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid grey;
  padding: 10px 15px;
  line-height: 20px;
  border-radius: 20px;
}