<div id="site-body">
  <div class="container content auth">
    
    <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">    

      <div class="feed-actions">
        <h3>Write a Tweet</h3>
        <div class="characters-title">
          <div id="charactersRemaining">120</div>
          <p>/120</p>
        </div>
      </div>
      
      <div class="field-inputs">
        <div class="field" [ngClass]="{'has-error': feedbackEnabled && storyField.errors}">
          <input type="text" id="tweet" placeholder="What are you thinking?" name="story" [(ngModel)]="story.text" #storyField="ngModel" maxlength="120" [disabled]="processing"
          />
          <div *ngIf="feedbackEnabled && storyField.errors">
          <p *ngIf="storyField.errors.maxlength" class="validation">story is too long</p>
          </div>
        </div> 
      </div> 

      <div class="field-submit">
        <button type="submit" [disabled]="processing" class="btn btn-primary" >Create</button>
        <div *ngIf="error">
          <p class="validation">{{error}}</p>
        </div>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">there are errors in the form, please review the fields</p>
        </div>
      </div>

      <a [routerLink]="['/articles/create']" class="btn btn-secondary">Write an Article</a>
      
    </form>
  </div>
</div>

<app-bottom-nav></app-bottom-nav>