<div id="site-body">
  <div class="columns">
  
    <div class="info">
      <div class="container content">
        
        <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
          <div class="feed-title">
            <h3>Write a Tweet</h3>
          </div>

          <div class="write">  
            <div class="field">
              <div class="field__tweet" [ngClass]="{'has-error': feedbackEnabled && storyField.errors}">
                <input type="text" id="tweet" placeholder="What are you thinking?" name="story" [(ngModel)]="story.text" #storyField="ngModel" maxlength="120" [disabled]="processing"
                />
                <div *ngIf="feedbackEnabled && storyField.errors">
                <p *ngIf="storyField.errors.maxlength" class="validation">story is too long</p>
                </div>
              </div> 
            </div> 

            <div class="bottom-actions">
              <div class="characters-title">
                <p id="charactersRemaining">120</p>
                <p class="characters-total">/120</p>
              </div>

              <div class="field-submit">
                <button type="submit" [disabled]="processing" class="btn btn-publish">Tweet</button>
                <div *ngIf="error">
                  <p class="validation">{{error}}</p>
                </div>
                <div *ngIf="feedbackEnabled && form.invalid">
                  <p class="validation">there are errors in the form, please review the fields</p>
                </div>
              </div>
            </div>

          </div>          
        </form>
      </div>
      <div class="container content">
        <div class="add-people">
          <app-write-article></app-write-article>
        </div>
      </div>
    </div>
  </div>
</div>

<app-bottom-nav></app-bottom-nav>