@import './../../../scss/variables.scss';

.card {

  .article {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__info {
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      width: 100%;

      &__title {
        color: $color-name;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
        line-height: 25px;
        margin-bottom: 2px;
      }

      &__user {
        display: flex;
        flex-direction: row;
        text-decoration: none;

        &__name, &__username {
          color: $color-name;
          text-decoration: none;
          margin-right: 5px;
        }
  
        &__name:hover {
          text-decoration: underline;
        }
      }

      &__time {
        color: $color-name;
        font-weight: lighter;
      }

    }
  }
}

.card:hover {
  background-color: $color-card-hover;
}