<div class="card" *ngIf="article">
  <div class="article">
    <div class="article__info">
      <p class="article__info__title" [routerLink]="['/articles', article._id]">{{article.title}}</p>
      <!-- <p class="article__info__text">{{article.text}}</p> -->
      <a class="article__info__name" [routerLink]="['/users', article.user._id]">
        <p>{{article.user.name}}</p>
      </a>
      <p class="article__info__time">{{article.created_at | date : 'shortDate' }}</p>
    </div>
  </div>
</div>


<!-- {{article | json}} -->