@import './../../../../app/scss/variables.scss';

.foo-foo {
  background-color: $color-btn-primary;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 5px;

  position:fixed;
  bottom: 20px;
  right: 20px;

  img {
    fill: $color-white;
    padding: 15px;
  }
}