<div id="site-body">
  <div class="columns">
  
    <div class="info">
      <div class="container content">
        <div class="feed-title">
          <h3>Following</h3>
        </div>
        <div *ngIf="checkFollow">
          <ul *ngFor="let follower of user.following">
            <li>
              <app-single-user-description [follower]="follower"></app-single-user-description>
            </li>
          </ul>
        </div>
        <div *ngIf="!checkFollow">
          <ul>
            <li>
              <p class="no-cards">This user is following nobody!</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="add-people">
      <app-add-friends></app-add-friends>
    </div>
  </div>
</div>

<app-top-nav></app-top-nav>