@import './app/scss/variables.scss';

// -- RESET

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

// -- TYPOGRAPHY

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color: $color-white;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 0;
  /* font-weight: 700; */
  font-size: 30px;
  line-height: 40px;
  color: $color-title;
}

h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
}

h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

h4 {
  margin: 0;
  font-size: 18px;
}

p {
  font-size: 14px;
  margin: 0;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

// -- LAYOUT

.container {
  margin: 48px 0px 80px 0px;
  // background-color: #E6E6E6;

  &__home {
    margin: 0 20px;
  }
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

.site-nav {
  padding: 10px 0;
  color: #111;
  background: $color-white;

  position:fixed;
  top:0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid $color-border;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}


#site-footer {
  color: #111;
  background: $color-white;
  padding: 10px 0;

  position:fixed;
  bottom:0;
  width: 100%;
  z-index: 10;
  border-top: 1px solid $color-border;

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


 svg {
   height: 30px;
 }

/* @media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}  */

// -- COMPONENTS

// -- authorisation

.auth {
  margin-top: 20px;

  .field_inputs {
    margin-bottom: 20px;

    .field {
      margin-bottom: 10px;

      &__input {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        border: 1px solid grey;
        padding: 10px 15px;
        line-height: 20px;
        border-radius: 20px;
      }
    }
  }
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 2px $color-btn-primary;
}

// -- create page

.create-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .characters-title {
    display: flex;
    flex-direction: row;
  }
}

#tweet {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid grey;
  padding: 10px 15px;
  line-height: 20px;
  border-radius: 20px;
}

/* ---- homepage ---- */

.main-title {
  padding-top: 20px;
  margin-bottom: 60px;
}

.instructions {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f2d51dff;
  
  .icons {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 10px;
    align-items: center;
    justify-content: space-around;
    color: $color-white;
    
    .fa-search,
    .fa-users,
    .fa-comment {
      font-size: 20px;
      padding-top: 2px;
    }
  }

  .list {
    margin-left: 0px;
    padding-left: 0px;

    .element {
      font-size: 16px;
      line-height: 40px;
      color: $color-white;
    }
  }
}

.fa-edit,
.fa-user-plus,
.fa-beer {
  padding-top: 20px;
  font-size: 50px;
}

.instructions .list{
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-around;
}

.instructions .list-title {
  font-weight: 700;
  padding-top: 20px;
}

// -- stories index

.stories-list {
  padding-top: 1px;
}

// -- BUTTONS

.btn {
  background-color: #1487fe;
  padding: 3px 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
}

.btn-primary {
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn-secondary {
  text-decoration: none;
  color: $color-btn-primary;
  font-size: 14px;
}

.btn-terciary {
  padding: 3px 10px;
  border: 1px solid $color-border;
  border-radius: 3px;
  background-color: $color-white;
}

.btn-navbar {
  background-color: $color-white;
  color: #1487fe;
  font-weight: 400;
  border-radius: 50px;
}
.color-red {
  color:red;
}

// -- forms

.link {
  display: flex;
  justify-content: center;
}

.link p {
  margin-right: 10px;
}

span {
  line-height: 28px;
}

// icons

.fa-list-alt,
.fa-plus-square,
.fa-user-circle,
.fa-list-alt {
  font-size: 28px;
  fill: grey;
  color: #2E2E2E;
}

.fa-plus-square-top:first-child,
.fa-plus-square-top,
.fa-user-plus,
.fa-edit {
  padding-top: 0px;
  font-size: 24px;
  line-height: 24px;
  fill: grey;
  color: #2E2E2E;
}

svg {
  height: 28px;
}

.fa-map-marker {
  font-size: 60px;
  color: black;
}

.user-inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
}

// -- profile

.profile-nav {
  text-align: center;
}
.profile {

  &__information {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    &__follow-btn{
      padding-top: 15px;
    }
  }
}

.profile-actions {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-bottom: 1px solid #1487fe;
}

// -- story card

ul {
  list-style-type: none;
  border-bottom: 1px solid $color-border;
  padding-left: 0px;

  li {
    margin-left: 0px;
  }
}

// -- card

.card {

  padding-left: 20px;
  padding-right: 20px;

  .story-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .story-username {
      margin-right: 10px;
      text-decoration: none;
      font-weight: lighter;
      color: black;
    }

    .story-time {
      color: grey;
      font-weight: lighter;
      font-size: 12px;
    }
  }

  .tweet {
    margin-bottom: 20px;
  }

  
}
