@import './app/scss/variables.scss';

// -- RESET

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6ecf0;
}

// -- TYPOGRAPHY

body {
  color: #111;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 0;
  font-size: 56px;
  line-height: 1.15;
  color: $color-icon;
}

h2 {
  margin: 0;
  font-size: 26px;
  line-height: 1.35;
}

h3 {
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  // padding-bottom: 10px;
}

p {
  font-size: 15px;
  line-height: 21px;
  margin: 0;
}

button {
  margin: 0px;
  padding: 0px;
}

// -- LAYOUT

#site-body, #site-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 49px;

  .columns {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .content {
    background-color: white;
    // padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .content2 {
    display: none;
  }
}

#site-login {
  width: 100%;
  background-color: white;
  padding: 0px;
  
  .title {
    padding-top: 40px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 568px;
  }

  #site-body {
    
    .content {
      margin-top: 15px;
      max-width: 568;
    }

    .content2 {
      display: block;
      margin: 15px 0;
      width: 280px;
      background-color: white;
    }
  }

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .info {
      width: 568px;
      margin-right: 15px; 
      align-items: right;
    }

  }
}

// -- COMPONENTS

// -- authorisation

.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  .wrapper {
    width: 100%;

    .field-inputs, .field-submit {
      padding-top: 10px;
    }
    
    .field_inputs {
      margin-bottom: 10px;
      
      .field {
        margin-bottom: 10px;
        
        &__input {
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          border: 1px solid grey;
          padding: 10px 15px;
          line-height: 20px;
          border-radius: 20px;
        }
      }
    }
  }

  @media (min-width: 568px) {
    .wrapper {
      max-width: 568px;
    }
  }
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 2px $color-btn-primary;
}

// -- BUTTONS

a,
button {
  cursor: pointer;
}

.btn {
  background-color: #1487fe;
  // padding: 3px 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
}

.btn-primary {
  padding: 10px;
  width: 100%;
  border: none;
  line-height: 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.btn-secondary {
  text-decoration: none;
  color: $color-btn-primary;
  background-color: $color-white;
  border: 0px;
  font-size: 15px;
}

.btn-secondary:hover {
  text-decoration: underline;
}

.btn-terciary {
  padding: 3px 10px;
  border: 1px solid $color-border;
  border-radius: 3px;
  background-color: $color-white;
  color: $color-icon;
}

.btn-publish {
  text-decoration: none;
  color: $color-white;
  border-radius: 3px;
  border: 1px solid $color-btn-primary;
  background-color: $color-btn-primary;
  font-size: 15px;
  padding: 5px 10px;
}

.btn-navbar {
  background-color: $color-white;
  color: $color-btn-primary;
  font-weight: 400;
  border-radius: 50px;
}

.btn-profile {
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: $color-icon;
  background-color: $color-white;
  border: none;
}

.btn-actions {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 5px;
}

.feed-title, .feed-actions {
  display: flex;
  flex-direction: row;
  padding: 15px 15px 10px 15px;
  border-bottom: 1px solid $color-border;
  text-align: left;
}

.feed-actions {
  justify-content: space-between;
  border-bottom: 1px solid $color-border;

  .characters-title {
    display: flex;
    flex-direction: row;
  }

}

.feed-actions-profile {
  justify-content: space-around;
}

.more-actions {
  padding: 15px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid $color-border;
  text-align: left;
}
 
.more-actions:hover {
  background-color: $color-card-hover;

  a {
    background-color: $color-card-hover;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

.bottom-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
}

// -- forms

.link {
  display: flex;
  justify-content: center;
}

.link p {
  margin-right: 10px;
}

// -- lists cards

ul {
  list-style-type: none;
  padding-left: 0px;
  padding: 0;
  margin: 0;

  li {
    margin-left: 0px;
    margin: 0px;
    padding: 0;
  }
}

.no-cards {
  padding: 10px 15px;
}

// -- create/write pages

.write {
  padding: 15px 15px;
  background-color: $color-card-hover;

  #tweet, .article-title, .article-text {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $color-border;
    font-size: 15px;
  }

  .article-text {
    height: 65vh;
    resize: none;
  }

  .field__article__text {
    padding-top: 10px;
  }

  #tweet:hover {
    border: 1px solid $color-border-hard;
  }

  .characters-title {
    display: flex;
    flex-direction: row;
    padding-right: 15px;

    #charactersRemaining {
      font-size: 15px;
      line-height: 30px;
    }

    .characters-total {
      line-height: 30px;
    }
  }
}
