<footer id="site-footer">
  <div class="container nav-footer">
    <a [routerLink]="['/stories']">
      <img src="../../../../assets/icons/home.svg" alt="home-icon" class="nav-icon">
    </a>

    <a [routerLink]="['/search']">
      <img src="../../../../assets/icons/documents.svg" alt="news-icon" class="nav-icon">
    </a>

    <a [routerLink]="['/stories/create']">
      <img src="../../../../assets/icons/plus.svg" alt="plus-icon" class="nav-icon">
    </a>
  
    <a [routerLink]="['/notifications']">
      <img src="../../../../assets/icons/bell.svg" alt="bell-icon" class="nav-icon">
    </a>

    <a [routerLink]="['/users', user._id]">
      <img src="../../../../assets/icons/male-user.svg" alt="male-user-icon" class="nav-icon">
    </a>

  </div>
</footer>