<div id="site-body">

  <div class="columns">
  
    <div class="info">
      <div class="container content">

        <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
          <div class="feed-actions">
            <h3>Write an Article</h3>

            <div class="field-submit">
              <button type="submit" [disabled]="processing" class="btn btn-secondary">Publish</button>
              <div *ngIf="error">
                <p class="validation">{{error}}</p>
              </div>
              <div *ngIf="feedbackEnabled && form.invalid">
                <p class="validation">there are errors in the form, please review the fields</p>
              </div>
            </div>
          </div>

          <div class="write">
            <div class="field">
              <div class="field__article" [ngClass]="{'has-error': feedbackEnabled && titleField.errors}">
                <input type="text" class="article-title" placeholder="Write a title" name="title" [(ngModel)]="title" #titleField="ngModel" maxlength="120"
                  [disabled]="processing" />
                <div *ngIf="feedbackEnabled && titleField.errors">
                  <p *ngIf="titleField.errors.maxlength" class="validation">title is too long</p>
                </div>
              </div>
            </div>

            <div class="field-text">
              <div class="field__article__text" [ngClass]="{'has-error': feedbackEnabled && textField.errors}">
                <input type="text" class="article-text" placeholder="Write a text" name="text" [(ngModel)]="text" #textField="ngModel" maxlength="10000"
                  [disabled]="processing" />
                <div *ngIf="feedbackEnabled && titleField.errors">
                  <p *ngIf="titleField.errors.maxlength" class="validation">title is too long</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-bottom-nav></app-bottom-nav>